@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter" !important;
}

body {
  margin: 0;
  padding: 0;
}

.MuiInputBase-input {
  font-size: 14px !important;
  letter-spacing: -0.5px !important;
}

.container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* min-height: 100vh; */
}

@media only screen and (max-width: 600px) {
  .container {
    transform: scale(0.7);
  }
}
